/*Background*/
body { 
	background-image: url(Resources/Back.png);
	background-size: cover; background-repeat: no-repeat;
	background-position: center; background-attachment: fixed;
	min-height: 100vh;
}
.transparent-container { 
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px; 
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
	
/*Text Color*/
.spidey-red { color: #e60012; }
.spidey-blue { color: #0055a4; }
.text-overlay {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/*Back Color*/
.bg-sr {
    background-color: #e60012 !important; /* vibrant purple */
    color: white !important;
}
