/*Site Layout*/
    body {
		margin: 0;
		padding: 0;
    }

    .base-container {
		height: 500px;
		background-image: linear-gradient(135deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), url(resources/title.jpg);

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		background-color: black;

		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: 2rem;
		color: white;
    }

	.overlay-container {
		position: sticky;
		top: 0;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(0px);
		color: white;
		padding: 20px;
		text-align: center;

		transition: backdrop-filter 0.4s ease, background-color 0.4s ease;
	}

	.overlay-container.is-sticky {
		backdrop-filter: blur(8px);
		background-color: rgba(0, 0, 0, 0.75);
	}

    .content {
		background-color: #b70f10;
		padding: 20px;
    }
	
	.bloodRed {background-color: #6b1008 !important;}
	.red {background-color: #b70f10 !important;}
	.tan {background-color: #957c62 !important;}
	.tan1 {background-color: #815f40 !important;}
	
	footer {
		background-color:#6b1008;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: 100%;
		color: white;
	}
	
/*Section layout*/
	.section-block {
		background: white;
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 12px;
		box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	}

/*Text*/
	.display-custom {
		font-size: 1.70rem;
		font-weight: 300;
		line-height: 1.2;
	}

/*Images*/
	.img-link img {
		display: block;
		margin: 0 auto; 
		width: 100%;
		max-width: 40px; 
		height: auto; 
	}

/**/
