/*Scrolling background*/
body{background-color: none; background-image:url(dots.jpg); background-repeat: repeat-x; padding-left: 30px; background-attachment:fixed;background-size:80px;}
body{margin: 0; font-family: Arial, sans-serif; background-image: url(marble.jpg); background-attachment: fixed; background-size: cover; background-position: center;}
.content{height: 410vh; padding: 20px; background-position: center; background: rgba(245, 240, 250, 0.8);}
/*image border*/
img{border-style:solid; border-width: 5px; border-radius: 10px; border-color: #d1a0f3}
/*List bullets*/
li.pic {padding: 30px 0 30px 40px;list-style: none; background-image: url(yarn.png); background-repeat:no-repeat; background-position:left center; background-size:40px;}
/*Text color & font*/
.style{color: #d48668; font-family: Arial, sans-serif;}
/*headings*/
h1{font-size: 35px; font-weight: bold;text-align: center; outline-style: solid; background-color: #e8d8fe; border-radius: 10px}
h2{font-size: 25px; width: 80%}
h3{font-size: 14px; font-style: italic; text-transform: uppercase; text-align: center}
/*rounded corners*/
#box1 {border:  4px solid #d1a0f3; border-radius: 10px; margin-left: 4px; text-align: center; background-color: #d7bcfc}
/*Overall text*/
p{font-size: 15px; font-weight: bold}