/*Background*/
#wrapper{width: 100%; margin: auto; background-color: #e1accc; font-family: sans-serif}
#leftColumn{float: left; width: 170px; background-color: #e1accc; border: 5px ridge #e21701}
#rightColumn{margin-left: 180px; background-image: url(back.png); background-position: center; background-size: 99%; border: 5px ridge #e21701}
#rightColumn2{margin-left: 180px; background-image: url(jem.gif); background-position: center; background-size: 110%; border: 5px ridge #e21701}

/*List bullets*/
li.pic {padding:10px 0 10px 20px; list-style:none; background-image:url(jemStar.png); background-repeat:no-repeat; background-position:left center; background-size:20px;}

/*nav oacity change*/
nav a{text-decoration:none; display:block; padding:15px; -webkit-transition:background-color 2s linear; -moz-transition:background-color 2s linear; -o-transition:background-color 2s linear; transition:background-color 2s linear;}
nav a:hover{color: #e71d8b; background-color: #ffcaff; text-decoration: none;}

/*interactive links*/
a:link{color: #e71d8b;}
a:hover{color: #e71d8b;}
a:active{color: #ffcaff;}

/*Headings*/
.header h1{position:relative; top:20px; left:10px; font-size:50px; color:#e71d8b; font-style:bold}
#head h2{margin: center; font-size: 40px; font-style: bold}
#header h3{margin: auto; font-size: 30px; font-style: bold}

/*nested*/
.div00{width:90%; height: 50%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px;}
.div000{width:90%; height: 30%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px;}
.div01{width:175px; height: 225px; background-color: #ffcaff; border: 5px ridge #e21701; padding: 1px; margin: 10px; float: right;}
.div001{width:175px; height: 175px; background-color: #ffcaff; border: 5px ridge #e21701; padding: 1px; margin: 10px; float: right;}
.div02{width:11.5%; height: 17.5%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px; margin: auto}
.div002{width:560px; height:315px; background-color: #ffcaff; border: 5px ridge #e21701; padding: 1px; margin: 10px; float: left;}
.div03{width:65%; height: 6%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px;}
.div003{width:25%; height: 30%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px;}
.div04{width:65%; height: 11.2%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px; float: right;}
.div05{width:40%; height: 20%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px; float: right;}
.div06{width:90%; height: 75%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px;}
.div006{width:90%; height: 85.5%; background-color: #ffcaff; border: 5px double #e21701; padding: 5px;}

/*overall img stuff*/
#img1Size{width:175px; height:225px}
#img2Size{width:175px; height:175px}

/*text*/
#left {float: left}
.font {font-size: 22px; color:#e71d8b}
#float {float: right}
&copy{font-size: 14px}
.br0{clear: right;}

/*modify forms's fieldset*/
.fieldset{border: 2px ridge #e21701; width:20%; float:left}

/*modify forms's legend*/
.legend{font-weight: bold; color:#e71d8b}

/*modify whole form*/
.form{background-color: transparent; font-size: 12px;}

/*check boxes & radio buttons*/
#check1{width: 6%; height: 6%; accent-color:#e71d8b;}
#radio1{width: 5%; height: 5%; accent-color:#e71d8b;}
#radio2{width: 5%; height: 5%; accent-color:#e71d8b;}

/*sprite*/
#rightColumn a{display: block; padding: 6px; background-image: url(jem.png); background-repeat: no-repeat; background-position: left -20px;}
#rightColumn a:hover{background-position: left -50px;}
#rightColumn2 a{display: block; padding: 6px; background-image: url(jem.png); background-repeat: no-repeat; background-position: left -20px;}
#rightColumn2 a:hover{background-position: left -50px;}

/*figure*/
figure{float:right; margin:50px; background-color:#FFFFFF; padding:5px; border:1px solid #CCCCCC; box-shadow: 5px 5px 5px #999999; -webkit-transform: rotate(15deg); -moz-transform:rotate(15deg); -o-transform:rotate(15deg); -ms-transform:rotate(15deg); transform:rotate(15deg);
figcaption{color:#e71d8b}

video{width: 100%; height: auto; max-width: 250px;}

/*password*/
/*#container {background-color: pink; padding: 20px; border:solid; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
#container input {display: block; margin: 10px 0; padding: 10px; width: 100%; box-sizing: border-box;}
#container button {padding: 10px; width: 100%; background-color: red; color: white; border: none; border-radius: 4px; cursor: pointer;}
#container button:hover {background-color: pink;}*/