body { 
	background-image: url(resources/Back1.jpg);
	background-size: cover; background-repeat: no-repeat;
	background-position: center; background-attachment: fixed;
	min-height: 100vh;
}

/*Images*/
.imgSize {
	width: 50px;
	height: auto;
}

/*Text Stuff*/
.bg-cc-pink {
	background-color: #ff9ad5 !important;
}
.bg-cc-blue { 
	background-color: #8ecaff !important;
}